---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";

// Calcular la edad de Ken
const fecActual = new Date();
const fecNac = new Date("2000-08-11 00:00:00");
let edad = fecActual.getFullYear() - fecNac.getFullYear();
if (
	fecActual.getMonth() < fecNac.getMonth() ||
	(fecActual.getMonth() == fecNac.getMonth() &&
		fecActual.getDate() < fecNac.getDate())
) {
	edad--;
}
const fecJobActual = new Date("2022-08-01 00:00:00");

let diffAnios = fecActual.getFullYear() - fecJobActual.getFullYear();
// Calcular la diferencia en meses y años
if (
	fecActual.getMonth() < fecJobActual.getMonth() ||
	(fecActual.getMonth() == fecJobActual.getMonth() &&
		fecActual.getDate() < fecJobActual.getDate())
) {
	diffAnios--;
}

let diffAniosShow = diffAnios
	? diffAnios == 1
		? diffAnios + " año"
		: diffAnios + " años"
	: "";

let diffMesesObj = fecActual.getTime() - fecJobActual.getTime();
const diffMeses = new Date(diffMesesObj).getMonth();
let diffMesesShow = diffMeses
	? diffMeses == 1
		? diffMeses + " mes"
		: diffMeses + " meses"
	: "";
---

<BaseLayout title="About | Ken Luzuriaga" description="About Ken Luzuriaga">
	<div class="stack gap-20">
		<main style="align-items: center;" class="wrapper about">
			<Hero
				title="Acerca de"
				tagline="Gracias por pasarte por aquí. Puedes saber más de mi leyendo esto."
			/>
			<img
				title="Ken feliz con su cevichocho"
				width="300"
				height="273"
				src="/assets/at-work.jpg"
				alt="Ken comiendo un cevichocho"
			/>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Me presento con esta foto comiendo cevichocho en el
						parque La Carolina de la ciudad de Quito en Ecuador.
					</p>
					<br />
					<p style="text-align: justify;">
						Tengo {edad} años. Empecé a trabajar desde que entré a la
						universidad como asistente de proyectos donde adquirí conocimientos
						sobre las area de Talento Humano y Compras, debido a que
						mis proyectos fueron dirigidos hacia esas areas y ademas
						aprendí sobre hardware debido a estar un gran tiempo en soporte
						técnico. Posteriormente, di el paso al area de desarrollo
						donde pude usar el lenguaje de programación Java, creando
						diferentes tipos de aplicaciones web para programar módulos
						del ERP propio de la empresa.
					</p>
					<p style="text-align: justify;">
						Actualmente, laboro de manera remota para una empresa de
						Quito, donde continúo fortaleciendo mis habilidades técnicas
						, específicamente en Python, y aprendiendo
						nuevos conceptos de Contabilidad.
					</p>
				</div>
			</section>
			<hr />
			<hr />
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p class="edu">Universidad de Guayaquil</p>
					<small>2019 - 2024</small>
					<p>Ingeniería en Sistemas de Información</p>
				</div>
			</section>
			<hr />
			<hr />
			<section>
				<h2 class="section-title">Experiencia</h2>
				<div class="content">
					<p class="job">Trescloud</p>
					<p>Developer Junior</p>
					<small>Ago/2022 - Actualidad</small>
					<small>({diffAniosShow} {diffMesesShow})</small>
					<ul>
						<li>
							Personalizaciones para clientes en módulos del ERP
							Odoo usando Python
						</li>
					</ul>

					<br />

					<p class="job">Grupo MediLink.</p>
					<p>Programador Junior</p>
					<small>Ene/2021 - Julio/2022</small>
					<small>(1 año 7 meses)</small>
					<ul>
						<li>
							Desarrollo de aplicaciones Web en javaEE (JSF)
							Junior
						</li>
						<li>
							Desarrollo de servicios Rest en java (Spring Boot)
						</li>
					</ul>
					<br />
					<p>Asistente de proyecto</p>
					<small>Jun/2018 - Dic/2020</small>
					<small>(2 años 7 meses)</small>
					<ul>
						<li>
							Manejo avanzado de tablas dinámicas y funciones de
							búsqueda y texto en excel
						</li>
						<li>
							Creacion de macros con VBA para acelerar procesos
						</li>
						<li>
							Help Desk: Formateo de PC, Instalación de software
							varios y Sistemas operativos
						</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
	.job {
		color: rgb(156, 50, 243);
		font-weight: bolder;
		font-size: 1.45rem;
	}
	.edu {
		color: rgb(74, 116, 252);
		font-weight: bolder;
		font-size: 1.45rem;
	}
	p {
		text-align: justify;
	}
</style>
