---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tech Skills</h2>
		<p>Tecnologías con las que he trabajado recientemente:</p>
		<ul>
			<li>Java - Spring Boot</li>
			<li>Typescript - Angular</li>
			<li>SQL</li>
			<li>Python</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Soft Skills</h2>
		<p>Poseo habilidades para la gestion de tiempo y trabajo en equipo </p>
		<ul>
			<li>Metodología SCRUM</li>
			<li>Adaptabilidad</li>
			<li>Clara Comunicacion</li>
			<li>Ingles (B1)</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Aprendiendo</h2>
		<p>En constante aprendizaje siguiendo el roadmap para ser un SRE (Site Reliability Engineering)</p>
		<ul>
			<li>Docker</li>
			<li>AWS</li>
			<li>Jenkins</li>
		</ul>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p, ul {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
